# Build output
build/
out/
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.exe
*.pdb
*.ilk

# IDE
.vs/
.vscode/
.idea/
*.user

# OS
.DS_Store
Thumbs.db

# Blizzard binaries / backups - never commit (copyright)
*.BAK
*.bak
*.ORI
*.MPQ
*.mpq

# voice.dll Laufzeitdateien / runtime files
voice.log
voice.old.log
voice.duck
